*{
	margin: 0px;
	outline: none;
}

body{
	padding: 0px;
	font-size: 11px;
	/*font-family: 'Open Sans', tahoma, arial, verdana, sans-serif, Lucida Sans;*/
	font-family:  font-family: 'Open Sans', sans-serif;
	overflow-y: scroll;
	background: #ffffff;
}

table{
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 11px;
	border: none;
	border-spacing: 0px;
	display: table;
	border-collapse: separate;
}

td{
	text-align: left;
	font-family: arial;
	font-size: 11px;
	border: none;
	padding: 0px;
	display: table-cell;
	vertical-align: top;
	margin: 0px;
}
